

#card{
   border: none;
   margin: 0.7rem;
   position: relative;
   transition: ease-out 0.2s;
   height: full;
   width: full;
   background-color: transparent;
}

#card:hover{
    transform: scale(1.05);
    z-index: 10;
    cursor: pointer;
}

#card:hover #download-btn{
    display: flex;
}
#download-btn{
    display: none;
}

.carousel-indicators button{
    background-color: #0d6efd !important;
    color: #0d6efd !important;
}

#login-btn, #signup-btn{
    transition: ease-out 0.3s;
    background: none;
}
/* buttons */
#login-btn:hover,#signup-btn:hover{
    font-weight: bold;
    transform: scale(1.02);
    background-color: rgb(219, 219, 219);
    
}

