#card{
   border: none;
   margin: 0.7rem;
   position: relative;
   transition: ease-out 0.2s;
   height: full;
   width: full;
   background-color: transparent;
}

#card:hover{
    transform: scale(1.05);
    z-index: 5;
    cursor: pointer;
}
#card:hover #card-detail{
    display: inline-flex;
    width: fit-content;
}

#card:hover #download-btn{
    display: flex;
}
#download-btn{
    display: none;
}

#card-detail{
    display: none;
}